/* Reset CSS completo */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: inherit;
}

/* Estilos para smartphones (até 767px) */
body {
    font-size: 16px;
}

/* Tablets (768px a 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 18px;
    }
}

/* Desktop (acima de 1024px) */
@media (min-width: 1025px) {
    body {
        font-size: 20px;
    }
}
